      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      #header {
        text-align: center;
      }


      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .pizza-image: {
	width: 100px;
	height: 100px;
      }      
      .pizza-image:hover {
        opacity: .8;
	cursor: pointer;
      }

      .pizza-image:active {
        opacity: 1;
      }
      input {
        max-width: 100%;
      }	
      .pizza-error {
        font-color: red;
      }
      #order-confirmation {
        display: none;
      }
      #confirmationContainer {
        display: none;
        position: fixed;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
      }
      #confirmationWindow {
	position: relative;
	background-color: white;
	border-radius: 15px;
	box-shadow: 10px 10px 5px black;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	min-width: 200px;
	min-height: 300px;
	opacity: 1;
	padding: 10 10 10 10px;
      }
      #confirmationText {
      	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
      }     
      #confirmationButtonContainer {
        position: absolute;
	width: 100%;
	bottom: 10%;
	text-align: center;
      }	
      .orderButton {
        margin: auto;
      }	
